$color-normal: #1c89ff;
$text-color: white;
$color-hover: #1460b1;
$left-right-margin: 12vw;

// Messages:
$error-background: #f8d7da;
$error-border: #f5c6cb;
$error-text: #721c24;
$success-background:#d4edda;
$success-border: #c3e6cb;
$success-text: #155724;

#main-content {
    padding: 0 $left-right-margin 5vh;
    display: grid;
    column-gap: 4em;
    row-gap: 1em;
    margin-top: 2em;
}

#post-container  {
    border: solid 1px gainsboro;
    padding: 2em;
    border-radius: 5px;
}

.button {
    float: right;
    padding: 0 3em;
    position: relative;
    height: 36px;
    border-radius: 20em;
    background-color: $color-normal;
    border: solid 1px transparent;
    color: $text-color;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    &:hover {
        background-color: $color-hover;
        border-color: transparent;
        transition: all .1s ease-in-out;
    }
}

.form-field {
    height: 80px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 1em 1em;
    &:focus {
        border: 2px solid $color-normal;
        border-radius: 5px;
        outline: none;
    }
}

label, h3 {
    font-weight: 600;
    font-size: 1.2rem;
}

p {
    margin: 0;
}

%message {
    text-align: center;
    padding: 0.5em;
    margin: 2em $left-right-margin ;
}

.error {
    @extend %message;
    background: $error-background;
    border-color: $error-border;
    color: $error-text;
}

.success {
    @extend %message;
    background: $success-background;
    border-color: $success-border;
    color: $success-text;
}

.small-info {
    font-size: 0.6rem;
}

.icon {
    filter: invert(28%) sepia(87%) saturate(7465%) hue-rotate(358deg) brightness(99%) contrast(125%);
}

.like svg, .unlike svg {
    cursor: pointer;
}

#like-count, .like, .unlike {
    display: inline;
}