{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for auction in auctions %}

        <div class="auction-item">
            <div class="auction-item-container">
                <div class="prod-img">
                    <a href="{% url 'auctions:products' auction %}"><img src="{{ auction.img_url }}" alt="{{ auction }}"></a>
                </div>
                <div class="prod-info">
                    <h3>{{ auction }}</h3>
                    <h4><strong>Price:</strong> ${{ auction.price }}</h4>
                    <p><strong>Details:</strong> {{ auction.details }}</p>
                    <p>{{ auction.timestamp }}</p>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}