{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}

<h2>Listing: {{ product }}</h2>

{% if messages %}
    {% for message in messages %}
    <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
    {% endfor %}
{% endif %}

<div class="product-page-body">
    <div class="product-img">
        <img src="{{ product.img_url }}" alt="{{ product }}">
    </div>

    <div class="content">
        {% if user.is_authenticated %}
            <div class="inline-form">
                <form id="make-bid" action="{% url 'auctions:products' product_id=product.id product_name=product.name %}" method="POST">
                    {% csrf_token %}
                    {{ makebid }}
                </form>
                <button type="submit" class="button bid-button" form="make-bid">Bid!</button>
            </div>
        {% endif %}
        {% if count_bid > 0 %}
            <p class="small-info">{{ count_bid }} {% if count_bid == 1 %}bid{% else %}bids{% endif %} so far!</h5>
        {% endif %}
        <h4>Price: <strong>¥{{ price | intcomma }}</strong></h4>
        <h5>Category: {{ product.category }}</h5>
        <h5>Posted by: {{ product.author | capfirst }}</h5>
        <p class="small-info">Published on {{ product.timestamp }}</p>
        <p><strong>Details:</strong> {{ product.details }}</p>
        {% if user.is_authenticated and user in product.watchlist.all %}
        <div>
            <form id="remove-to-watchlist" action="{% url 'auctions:remove_from_watchlist' product_id=product.id product_name=product.name %}" method="POST">
                {% csrf_token %}
            </form>
            <button type="submit" class="button remove-button" form="remove-to-watchlist">Remove from the watchlist!</button>
        </div>
        {% elif user.is_authenticated and user not in product.watchlist.all %}
            <form id="add-to-watchlist" action="{% url 'auctions:add_to_watchlist' product_id=product.id product_name=product.name %}" method="POST">
                {% csrf_token %}
            </form>
            <button type="submit" class="button add-button" form="add-to-watchlist">Add to the watchlist!</button>
        {% endif %}
    </div>
</div>

{% endblock %}