{% extends 'auctions/layout.html' %}
{% load humanize %}

{% block body %}

<h2>{{ request.user | capfirst }}'s Watchlist</h2>

<div class="watchlist-content">
    {% for auction in watchlist %}
        <div class="auction-item-container">
            <div class="prod-title">
                <h2><a href="{% url 'auctions:products' product_id=auction.id product_name=auction.name %}">{{ auction }}</a></h2>
            </div>
            <div class="prod-img">
                <a href="{% url 'auctions:products' product_id=auction.id product_name=auction.name %}"><img src="{{ auction.img_url }}" alt="{{ auction }}"></a>
            </div>
            <div class="prod-info">
                <a href="{% url 'auctions:products' product_id=auction.id product_name=auction.name %}"><h4>Current price: <strong>¥{{ auction.max_bid | intcomma }}</strong></h4></a>
                {% if auction.bid_count > 0 %}
                <a href="{% url 'auctions:products' product_id=auction.id product_name=auction.name %}"><h5>{{ auction.bid_count }} {% if auction.bid_count == 1 %}bid{% else %}bids{% endif %} so far!</h5></a>
                {% endif %}
                <a href="{% url 'auctions:categories' categ=auction.category %}"><p class="small-info">Category: {{ auction.category }}</p></a>
                <a href="{% url 'auctions:products' product_id=auction.id product_name=auction.name %}"><p class="small-info">Author: {{ auction.author | capfirst }}</p></a>
                <a href="{% url 'auctions:products' product_id=auction.id product_name=auction.name %}"><p class="small-info">Created: {{ auction.timestamp | naturaltime }}</p></a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}