{% extends "network/layout.html" %}
{% load static %}
{% load humanize %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
        <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
        {% endfor %}
    {% endif %}

    <div id='main-content'>

        {% if user.is_authenticated %}
        <div class='post-container'>
            <form id="new-post-form" action="{% url 'network:new_post' %}" method="POST">
                {% csrf_token %}
                {{ newPost }}
                <button type="submit" class="button" form="new-post-form">Post</button>
            </form>
        </div>
        {% endif %}

        <div id='pagination-info' style="height:0">
            <input id='page' type="hidden" value="{{ page.number }}">
            <input id='total_pages' type="hidden" value="{{ page.paginator.num_pages }}">
        </div>

        <div class="pagination-container top">
        </div>

        {% for post in page %}

        <div class='post-container'>
            <h3><a href="{% url 'network:profile' profile_name=post.author %}">{{ post.author|title }}</a></h3>
            <input type="hidden" value="{{ post.id }}">
            {% if user == post.author %}
            <p class="edit">Edit post</p>
            <div class='form' style="display:none">
                <textarea class="form-field" name="post" id="" cols="50" rows="5"></textarea>
                <button class="button submit">Post</button>
            </div>
            {% endif %}
            <p class="post-body">{{ post.post }}</p>
            <p><span class="small-info">{{ post.timestamp }}</span></p>

            {% if request.user in post.likes.all %}
            <div class="unlike" style='display:inline'>
                <svg style="fill: red" width="20" height="20" viewBox="0 0 24 24"><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg>
            </div>

            <div class="like" style='display:none'>
                <svg style="fill: red" width="20" height="20" viewBox="0 0 24 24"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/></svg>
            </div>

            {% else %}
            <div class="unlike"  style='display:none'>
                <svg style="fill: red" width="20" height="20" viewBox="0 0 24 24"><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg>
            </div>

            <div class="like" style='display:inline'>
                <svg style="fill: red" width="20" height="20" viewBox="0 0 24 24"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/></svg>            </div>

            {% endif %}

            <p id='like-count'>{{ post.num_likes }}</p>
        </div>
        
        {% endfor %}


        <div class="pagination-container bottom">
        </div>

    </div>

{% endblock %}


{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}