textarea {
    min-height: 400px;
}

table {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 2em auto;
}

table thead tr {
    height: 60px;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
}

table#inbox-table thead tr {
    background: #468edd;
}

table#sent-table thead tr {
    background: #2d7026;
}

table#archived-table thead tr {
    background: #979797;
}

table tbody tr {
    height: 50px;
    font-size: 15px;
    color: #808080;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.sender-col, .sent-to-col {
    width: 30%;
    padding: 0 1em;
}

.subject-col {
    width: 50%;
    padding: 0 1em;
}

.timestamp-col {
    width: auto;
    padding: 0 1em;
    text-align: center;
}