// Variables
$border-radius: 10px;
$main-background-color: #36304a;
$text-color: white;
$gray: #bbbbbb;
$main-color: #4158d0;
$secondary-color: #c850c0;
$success: #95d57d;
$secondary-color-transparency: rgb(200, 80, 192, 0.5);
$main-gradient: linear-gradient(45deg,$main-color,$secondary-color);
$secondary-gradient: linear-gradient(60deg, #ffffff 0%, #e7f2ff 20%, #ffe6fd 100%);
$rotating-button-size: 30px;


// Code

h1, h2, h3, h4, h5, h6, a, p {
    color: $text-color;
}


body {
    min-height: 100vh;
    background: $main-gradient;
}


.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: $main-background-color !important;
    color: $text-color !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: $text-color;
}

#single-form-page-container {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
}

#single-form {
    width: 100%;
    max-width: 450px;
    min-width: 240px;
    grid-column: 2 / span 1;
    border: solid 1px gainsboro;
    padding: 2em;
    border-radius: 5px;
}

.main-content {
    margin: 5vh 15vw;
}


.table-header-centered, .symbol, th, td {
    text-align: center;
}


.styled-table {
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}

.styled-table thead tr {
    height: 60px;
    background: #36304a;
}

.styled-table th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

.styled-table tbody tr {
    font-size: 15px;
    color: #808080;
    font-weight: unset;
    height: 50px;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

table tbody tr:last-child {
    border: 0;
    border-radius: $border-radius;
}

tbody tr:hover {
    color: #555555;
    background: $secondary-gradient;
    // cursor: pointer;
}

td, th {
    padding: 0.5em 1.2em;
}

.menu-items {
    padding: 0.5em;
}

.divider-top {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
}

.divider-top .shape-fill {
    fill: #36304A;
}

.divider-top2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.divider-top2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.divider-top2 .shape-fill {
    fill: #36304A;
}

.general-info {
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    margin: 3.5em 0;
}


div.set-sell-price {
    display: inline-grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 0;
    justify-content: center;
}


input.set-sell-price {
    grid-column: 1 / span 1;
    place-self: center stretch;
    justify-self: center;
    max-width: 100px;
    display: inline;
    height: 2em;
    text-align: center;
    border: 1px solid transparent;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    padding: 0.5em 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    &:focus {
        border: 1px solid $secondary-color;
    }
}



td.set-sell-price {
    justify-content: center;
}



button {
    width: 60px;
    place-self: center stretch;
    grid-column: 2 / span 1;
    outline:none;
    height: $rotating-button-size;
    text-align: center;
    padding: 0 1.5em;
    border-radius:40px;
    background: #fff;
    border: 1px solid $secondary-color;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color:$secondary-color;
    letter-spacing:1px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    font-weight: 700;
    font:{
        size:12px;
    }
    &:hover {
        color:white;
        background: $secondary-color;
    }
    &:after {
        content:"SET";
    }
    &:focus {
        outline: none;
    }
}


.set-sell-price label {
    grid-column: 3 / span 1;
    align-self: center;
}


.onclic {
    margin-left: 15px;
    width: $rotating-button-size;
    border-color:$gray;
    border-width:3px;
    font-size:0;
    border-left-color:$secondary-color;
    animation: rotating 2s 0.25s linear infinite;

    &:after {
        content:"";
    }

    &:hover {
        color:$secondary-color;
        background: white;
    }
}


.validate {
    font-size:13px;
    color: white;
    background: $success;
    border: 1px solid $success;
    &:after {
        color: transparent;  
        text-shadow: 0 0 0 white;
        content:"✔";
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.set-sell-price-container {
    justify-self: center;
}


.switch {
    position: relative;
    display: inline-block;
    // width: 60px;
    // height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    left: 0.5em;
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $secondary-color;
  }
  
  input:checked + .slider:before {
    transform: translateX(29px);
  }