{% extends "stocks/layout.html" %}
{% load static %}
{% load humanize %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
        <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
        {% endfor %}
    {% endif %}

    <h1>La clave API es:</h1>
    <p>pk_e83502ec9593421abcf11af14a2af5be</p>

    <a href="https://iexcloud.io/console">Panel de control</a>


{% endblock %}


{% block script %}
    <script src="{% static 'stocks/index.js' %}"></script>
{% endblock %}