{% extends "stocks/layout.html" %}
{% load static %}
{% load humanize %}


{% block title %}
{{ title }}
{% endblock %}


{% block head %}
    <script src="{% static 'stocks/test.js' %}"></script>
    <script src="https://kit.fontawesome.com/ee07d0f153.js" crossorigin="anonymous"></script>
{% endblock %}


{% block body %}

    {% csrf_token %}

    {% if messages %}
        {% for message in messages %}
        <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
        {% endfor %}
    {% endif %}

    <button>BUY</button>

{% endblock %}