$main-color: #FFA200;
$focus-color-normal: #1c89ff;
$focus-color-hover: #1460b1;
$text-color: white;
$error-background: #f8d7da;
$error-border: #f5c6cb;
$error-text: #721c24;

.error {
    background: $error-background;
    border-color: $error-border;
    border-radius: 10px;
    color: $error-text;
    text-align: center;
    padding: 0.5em;
    margin-top: 3em;
}

.body {
    padding: 2em 15vw;
}

.header {
    padding: 2em 2em 0;
    text-align: center;
}


h1 {
    font-size: 4em;
    font-family: arial;
}
h1, h2, h3 {
    font-weight: 700;
}

.timestamp {
    font-size: 0.6em;
}

.auction-item {
    padding: 5vh 0 5vh;
}

.auction-item-container {
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding: 0;
    display: flex;
}

.prod-img {
    width: 100%;
    padding: 2em;
}

.prod-info {
    width: 100%;
    padding: 2em;
}

img {
    width: 100%;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #505050;
}

a:hover {
    text-decoration: none;
    color: $main-color;
}

a h4:hover, a p:hover {
    text-decoration: none;
    color: #505050;
}

.form-field {
    border: 2px solid gainsboro;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.4em 1em;
    &:focus {
        border: 2px solid $focus-color-normal;
        border-radius: 5px;
        outline: none;
    }
}


.button {
    padding: 0 3em;
    position: relative;
    height: 36px;
    border-radius: 18px;
    background-color: $focus-color-normal;
    border: solid 1px transparent;
    color: $text-color;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    &:hover {
        background-color: $focus-color-hover;
        border-color: transparent;
        transition: all .1s ease-in-out;
    }
}

form {
    display: inline-block;
    margin-top: 3em;
}

label {
    float: left;
    margin-bottom: 0;
    font-weight: 700;
}

.centered {
    text-align: center;
}

form button {
    margin-top: 1em;
}

.form-comment {
    margin-top: 2em;
}