$main-color-normal: #1c89ff;
$main-color-hover: #1460b1;
$text-color: white;

.body {
    padding: 2em 15vw;
}

.header {
    padding: 2em 2em 0;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 700;
}

.timestamp {
    font-size: 0.6em;
}

.auction-item {
    padding: 5vh 0 5vh;
}

.auction-item-container {
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding: 0;
    display: flex;
}

.prod-img {
    width: 100%;
    padding: 2em;
}

.prod-info {
    width: 100%;
    padding: 2em;
}

img {
    width: 100%;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #505050;
}

a:hover {
    text-decoration: none;
    color: #FFA200;
}

a h4:hover, a p:hover {
    text-decoration: none;
    color: #505050;
}

.form-field {
    border: 2px solid gainsboro;
    border-radius: 5px;
    display: block;
    width: 100%;
}

.button {
    padding: 0 3em;
    position: relative;
    display: block;
    height: 36px;
    border-radius: 18px;
    background-color: $main-color-normal;
    border: solid 1px transparent;
    color: $text-color;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    &:hover {
        background-color: $main-color-hover;
        border-color: transparent;
        transition: all .1s ease-in-out;
    }
}

form {
    display: inline-block;
}

.form-container {
    // text-align: center;
}

form button {
    margin-top: 2em;
}